.latest-news {
  padding: 100px 20px;
  text-align: center;
  background-image:
    linear-gradient(
      90deg,
      rgba(217, 74, 168, 0.9),
      rgba(91, 91, 214, 0.9)
    ),
    url("../assets/17.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Headings */
.news-subtitle {
  color: #fff;
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0.8;
}

.news-title {
  color: #fff;
  font-size: 30px;
  margin: 10px 0 50px;
}

/* Grid */
.news-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
}

/* Cards */
.news-card {
  background: #fff;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-content {
  padding: 20px;
  text-align: left;
}

.news-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-meta {
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: #888;
  margin-bottom: 10px;
}

.news-content p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 992px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}
