.contact-section {
  background-color: #141347;
  color: #fff;
  padding: 80px 20px;
  font-family: Arial, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  min-width: 250px;
}

.contact-info h4 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

.info-item {
  margin-bottom: 12px;
}

.info-item span {
  display: block;
  font-size: 12px;
  color: #ccc;
}

.info-item p {
  font-weight:bold;
  margin: 7px 0 0;
}

.contact-form {
  flex: 2;
  min-width: 300px;
  background-color: #1d1d49;
  padding: 30px;
  border-radius: 8px;
}

.contact-form h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff66d9;
  font-size: 18px;
  text-transform: uppercase;
}

.contact-form form .form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #888;
  background: transparent;
  color: #fff;
  font-size: 14px;
}

.contact-form textarea {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
}

.contact-form button {
  background: linear-gradient(90deg, #7b5cff, #ff3b82);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  opacity: 0.9;
}

/* =========================
   RESPONSIVE DESIGN
   ========================= */

/* Tablet view */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    gap: 40px;
  }


  .contact-info h4 {
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }
}

/* Mobile view */
@media (max-width: 576px) {
  .contact-section {
    padding: 60px 15px;
  }

  .contact-form {
    padding: 20px 0px 0px 0px;
    margin-right: 5px;
  }

  .contact-form form .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 90%;
    font-size: 14px;
  }

  .contact-form textarea {
    height: 90px;
  }

  .contact-form button {
    width: 100%;
    text-align: center;
    padding: 12px;
  }

  .contact-info h4 {
    font-size: 22px;
  }

  .info-item p {
    font-size: 14px;
  }
}
