*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(2, 2, 28);
    z-index: 1000;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

.navbar ul li :link{
    text-decoration: none;
}

.navbar ul li a{
    color: white;
}

.navbar ul li a:hover{
    color: rgb(131, 19, 137);
    transition: color 0.4s ease-in-out;
}

.nav-btn :link{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px 15px;
    background: linear-gradient(90deg, rgb(40, 40, 156) 0%, rgb(91, 30, 148) 50%, rgb(131, 19, 137) 100%);
    font-weight: 600;
}

.nav-btn a:hover{
    background: white;
    color: black;
    transition: color 0.4s ease-in-out;
}

.logo{
    margin-top: 5px;
}
 
/* Hamburger Icon */
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-right: 50px
}

.hamburger span{
    width: 25px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Hamburger animation when open */
.hamburger.open span:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2){
    opacity: 0;
}

.hamburger.open span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile styles */
@media (max-width: 768px){
    .nav-links{
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        height: calc(100vh - 60px);
        flex-direction: column;
        background-color: rgb(2, 2, 28);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        padding-top: 20px;
        gap: 25px;
    }

    .nav-links.active{
        transform: translateX(0);
    }

    .hamburger{
        display: flex;
    }
}
