.offer-section {
  padding: 100px 20px;
  text-align: center;
  background: #ffffff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.offer-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  color: #bd5daa;
  font-weight: 600;
  margin-bottom: 10px;
}

.offer-title {
  font-size: 30px;
  font-weight: 800;
  color: #0a0a2a;
  margin-bottom: 60px;
}

.offer-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* Card */
.offer-card {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 40px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

/* Radial gradient layer */
.offer-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 100% 100px,
    rgb(105, 105, 155),
    rgb(117, 68, 162),
    rgb(172, 105, 175)
  );
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  border-radius: inherit;
  z-index: 0;
}

.offer-card >* {
  position: relative;
  z-index: 1;
}

/* Hover effect */
.offer-card:hover {
  transform: translateY(-6px);
}

.offer-card:hover::before {
  transform: scale(1.2);
}

.icon-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgb(105, 105, 155),
    rgb(117, 68, 162),
    rgb(172, 105, 175)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card .icon-circle img {
  width: 40px;
  height: 40px;
}

.offer-card h3 {
  font-size: 18px;
  color:black;
  margin-bottom: 12px;
}

.offer-card p {
  font-size: 12px;
  color: gray;
  font-weight: lighter;
}

.offer-card:hover h3,
.offer-card:hover p {
  color: white;
}
