.pricing {
  padding: 90px 20px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.pricing-subtitle {
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0.9;
}

.pricing-title {
  font-size: 30px;
  margin-bottom: 60px;
}

/* Cards Layout */
.pricing-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card */
.pricing-card {
   background: #fff;
  color: #1f2937;
  width: 250px;
  border-radius: 14px;
  padding: 40px 25px;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease;
}

/* Hover effect */
.pricing-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
}

/* Button hover sync */
.pricing-card:hover button {
  background: linear-gradient(90deg, #ec4899, #6366f1);
}

/* Badge */
.badge {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 18px;
  font-size: 12px;
  color: #fff;
  border-radius: 20px;
}

.badge.pink {
  background: #ec4899;
}

.badge.blue {
  background: #6366f1;
}

/* Icon */
.icon {
  font-size: 50px;
  margin-bottom: 15px;
}

/* Price */
.pricing-card h3 {
  font-size: 35px;
  margin: 10px 0;
}

.per {
  font-size: 12px;
  color: #6b7280;
}

/* Button */
.pricing-card button {
  margin: 15px 0;
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #6366f1, #ec4899);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

/* List */
.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

.pricing-card li {
  font-size: 14px;
  margin-bottom: 8px;
}

.pricing-card li.disabled {
  color: #9ca3af;
  text-decoration: line-through;
}

/* Responsive */
@media (max-width: 900px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

}
