.hero{
    background-image: url('../assets/1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: end;
    color: white;
}

.hero-content{
    padding-top: 200px;
    padding-right: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.hero-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.hero-content p{
    display: inline;
    font-weight: lighter;
    padding: 5px;
    background: #1f1f1f;
}

button{
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 25px;
    background: linear-gradient(90deg, rgb(40, 40, 156) 0%, rgb(91, 30, 148) 50%, rgb(131, 19, 137) 100%);
}

button:hover{
    background: white;
    color: black;
    transition: color 0.8s ease-in-out;
}

/* Mobile view */

