*{
    margin: 0;
    padding: 0;
}

.nav-parent{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: aquamarine;
}

.nav-parent li{
    list-style: none;
}

.nav-parent li a {
    text-decoration: none;
    color: black;
}